body,
html,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 1;
  padding: 1rem;
  background-color: #f9f9f9;
}